<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/CSS/styles.css" />
</head>
<body>
    <%- include('./customElements/navigation', {Authenticated: Authenticated}) %>
    <div class="homepage">
        <div class="bannerText">
            <h1>Stay home, Wear Mask , Shop Online</h1>
        </div>
        <img src="https://st4.depositphotos.com/8696740/26761/v/1600/depositphotos_267614420-stock-illustration-online-shopping-banner-vector-illustration.jpg" />
    </div>
    
</body>
</html>