<div class="cartItem-wrapper">
    <div class="cartItem-Body">
        <p class="title"><%= title %></p>
        <p class="price">$<%= price %></p>
        <p class="quantity">1</p>
    </div>
    <a href='/cart/<%= title %>'>
        <button class="deleteProduct" type="submit">X</button>
    </a>
</div>
<hr/>