<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/CSS/styles.css" />
</head>
<body>
    <%- include('../customElements/navigation') %>
    <div class="addProduct-page">
        <h2>Add new product</h2>
        <form action="/addProduct" method="POST">
            <div class="input-wrapper">
                <label>Title</label>
                <input type="text" name="title" />
            </div>
            <div class="input-wrapper">
                <label>Price</label>
                <input type="text" name="price" />
            </div>
            <div class="input-wrapper">
                <label>imageURL</label>
                <input type="text" name="image" />
            </div>
            <div class="input-wrapper">
                <label>Description</label>
                <input type="text" name="desc" />
            </div>
            <button class="button" type="submit">submit</button>
        </form>
    </div>
</body>
</html>